# config.json
<FilesMatch "^config.json">
    deny from all
</FilesMatch>

# *.log
<FilesMatch ".+\.log">
    deny from all
</FilesMatch>

# .gitignore, .htaccessなど
<FilesMatch "^\..*">
    deny from all
</FilesMatch>

