# manifest.jsonにアクセスさせない
# (補助的なもの ドキュメントルート外への配置を推奨)

<FilesMatch "^manifest.json">
    deny from all
</FilesMatch>

# 各種ログファイルにはアクセスさせない (デバッグ中はとりあえず無効にしておく)
# <FilesMatch "*.log">
#     deny from all
# </FilesMatch>
