# manifest.jsonにアクセスさせない
# (補助的なもの ドキュメントルート外への配置を推奨)

<FilesMatch "^config.json">
    deny from all
</FilesMatch>

# 各種ログファイルにはアクセスさせない
<FilesMatch ".+\.log">
    deny from all
</FilesMatch>

# gitディレクトリへのアクセスを遮断
<FilesMatch "^\.git">
    deny from all
</FilesMatch>